<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737827648786-e53abq70i1d3bjmr161scgr02uvl8ftq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737827648786-e53abq70i1d3bjmr161scgr02uvl8ftq</string>
	<key>API_KEY</key>
	<string>AIzaSyBPBjMd6iu_IvIa-udvw9B-L6P7xkLgAis</string>
	<key>GCM_SENDER_ID</key>
	<string>737827648786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesflutter</string>
	<key>PROJECT_ID</key>
	<string>moviescatalog-3e370</string>
	<key>STORAGE_BUCKET</key>
	<string>moviescatalog-3e370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737827648786:ios:1b2c709276a5be14c26fcb</string>
</dict>
</plist>